 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>TEST</title>
<link rel="stylesheet" href="public/css/login.css"> 
</head>

<header>
<h1>WELCOME to</h1>
<h1><%= title %></h1>
</header>
<nav>
<span><a title=“speech-to-text-nodejs” href="/convert">语音转换</a></span>
<span><a title=“register” href="/register">注册</a></span>
</nav>
</html>