<!DOCTYPE html>
<!-- saved from url=(0025)http://www.ginventory.co/ -->
<html lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Detect IE 10+ -->
    <script src="js/analytics.js"></script>
    <script>
    (function detectIE() {
      var ua    = window.navigator.userAgent;
      var version = -1;
      
      var msie = ua.indexOf('MSIE ');
      if (msie > 0) { version = parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10); }
      var trident = ua.indexOf('Trident/');
      if (trident > 0) { var rv = ua.indexOf('rv:'); version = parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10); }
      var edge = ua.indexOf('Edge/');
      if (edge > 0) { version = parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10); }
      if (version != -1) { document.documentElement.className += ' ie' + version; }
    })();
    </script>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style-32341a87.css">
    <link href="css/watson-bootstrap-style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <title>Interview Assistant</title>

    <!-- Web App -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  </head>

  <body class="" data-current-section="0" data-forward="false">

    <div id="wrapper">

      <div id="borders">
        <div class="border hor top"></div>
        <div class="border hor bot"></div>
        <div class="border vert left"></div>
        <div class="border vert right"></div>
      </div>

      <div id="illustration-01">
        <div class="bottle"></div>
        <div class="branches">
          <div class="branch-01"></div>
          <div class="branch-02"></div>
          <div class="branch-03"></div>
          <div class="branch-top"></div>
          <div class="leaf-01"></div>
          <div class="leaf-02"></div>
        </div>
      </div>

      <div id="stripe" style="transform: translate3d(0px, -30px, 0px);"></div>

      <div id="video-container" style="transform: matrix3d(0.96593, -0.25882, 0, 0, 0.25882, 0.96593, 0, 0, 0, 0, 1, 0, -164.5, 0, 0, 1);">
         
         <video id="video" preload="auto" onplay="this.controls=false">
        </video>
      </div>
        

      <div id="timeline-ctn" class="glowing" style="transform: translate3d(0px, 0px, 0px) scale(0.9712, 1); opacity: 0;">
        <div id="timeline-track">
          <div id="timeline-bar" style="transform: translate(25%, 0%) translate3d(0px, 0px, 0px);"></div>
        </div>
        <!-- <div id="section-number"></div> -->
      </div>



      <header id="header" class="nav-container noselect">

        <h1 id="logo"><span>I</span><span>n</span><span>t</span><span>e</span><span>r</span><span>v</span><span>i</span><span>e</span><span>w</span></h1>

        <nav id="main-nav">
          <button class="nav-btn up" disabled="">Go up<span></span></button>
          <ul>
            <li class=""><a href=""></a></li>
            <li class=""><a href=""></a></li>
            <li class=""><a href=""></a></li>
            <li class=""><a href=""></a></li>
            <li class=""><a href=""></a></li>
          </ul>
          <button class="nav-btn down">Go down<span></span></button>
        </nav>

        <div id="sub-nav">
          <ul>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>

      </header><!-- /#header -->



      <main id="content" role="main">

        
  <section id="home" class="current">
    <p class="tagline">Use the <em>Interview Assistant</em> <br> <strong>Brilliant &amp; Accurate</strong></p>
  </section>



  <div id="sections-list-container">

    <div class="swiper-container">

      <ol id="sections-list" class="swiper-wrapper">

        <li class="swiper-slide">
          <section id="search" class="">
            <figure>
              <img src="" alt="">
            </figure>

            <article>
              <h2>Question1</h2>
                      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">

            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <span id="dropdownMenuDefault" class="dropdown-text">US English broadband model (16KHz) </span>
              <span class="caret"></span>
              </button>
              <ul id="dropdownMenuList" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              </ul>
            </div>

          </div><!-- .col-lg-6 -->

        </div><!-- row -->

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="audioParent">
              <audio style="display:none" class="audio" controls>
                Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div><!-- row -->


        <div class="row">
          <nav class="navbar navbar-inverse">
          <ul class="navbar-text">
            <li id="recordButton" class="button-row nav-inverse-color">
            <img id="microphoneIcon" src="images/microphone.svg" class="icon">
            <span class="nav-label">Record Audio</span>
            </li>
            <li class="file-upload button-row nav-inverse-color">
            <div id="fileUploadTarget">
              <img src="images/upload.svg" class="icon"></img>
              <span class="nav-label">Select File</span>
            </div>
            </li>
            <li class="play-sample-1 button-row nav-inverse-color">
            <img src="images/play.svg" class="icon">
            <span class="nav-label">Play Sample 1</span>
            </li>
            <li class="play-sample-2 button-row nav-inverse-color">
            <img src="images/play.svg" class="icon">
            <span class="nav-label">Play  Sample 2</span>
            </li>
          </ul>

          </nav>
        </div>
        <!-- Tab panes -->
        <div class="row" style="  margin: 0;">
          <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0;">
            <div class="well">
              <form autocomplete="off" class="form-horizontal">
                <div role="tabpanel">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home2" aria-controls="home" role="tab" data-toggle="tab">Text</a></li>
                    <li role="presentation"><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab">JSON</a></li>
                  </ul>
                  <div class="hr-tab"></div>
                  <fieldset>
                    <div class="row error-row">
                      <div class="col-lg-12">
                        <div id="errorAlert" >
                          <span id="errorMessage"></span>
                          <a class="pull-right" href="#" id="errorClose">&times;</a>
                        </div>
                      </div>
                    </div>

                    <div class="row notification-row">
                      <div class="col-lg-12">
                        <div id="notificationAlert" >
                          <span id="notificationMessage"></span>
                          <a class="pull-right" href="#" id="notificationClose">&times;</a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row tabpanel-row">
                      <div class="col-lg-12">
                        <div class="tab-content">
                          <div role="tabpanel" class="tab-pane active" id="home2">
                            <textarea readonly id="resultsText"></textarea>
                          </div>
                          <div role="tabpanel" class="tab-pane" id="profile2">
                            <textarea readonly id="resultsJSON"></textarea>
                          </div>
                        </div>
                      </div><!-- .col-lg-12 -->
                    </div>
                  </fieldset>
                </div>
              </form>
            </div>
          </div><!-- /.well -->
        </div><!-- /.tabpanel -->

        <div class="row">
          <div class="col-md-12">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3>Metadata</h3>
                <span class="pull-right clickable"><i class="caret-up" style="  margin-top: -1.3em;"></i></span>
              </div>
              <div class="panel-body">

                <!-- Table -->
                <div class="table-scroll">
                  <table id="metadataTable">
                    <thead>
                      <tr class="table-header-row">
                        <th>WORD</th>
                        <th>START TIME(sec)</th>
                        <th>END TIME(sec)</th>
                        <th>CONFIDENCE</th>
                      </tr>
                    </thead>
                    <tbody id="metadataTableBody">
                    </tbody>
                  </table>
                </div>

                <!-- END Table -->
                <div class="alt-hypothesis">
                  <h5>Alternate Hypotheses</h5><hr>
                  <div class="hypotheses">
                    <ol></ol>
                  </div>
                </div>
              </div>
            </div>

            </article>
          </section>
        </li>


        <li class="swiper-slide">
          <section id="find" class="">
            <figure>
              <img src="" alt="">
            </figure>

            <article>
              <h2>Question2</h2>
              <p>快来问我啊<br> 快来问我啊</p>
            </article>
          </section>
        </li>


        <li class="swiper-slide">
          <section id="explore" class="">
            <figure>
              <img src="" alt="">
            </figure>

            <article>
              <h2>Question3</h2>
              <p>快来问我啊<br> 快来问我啊</p>
            </article>
          </section>
        </li>


        <li class="swiper-slide">
          <section id="suggest" class="">
            <figure>
              <img src="" alt="">
            </figure>

            <article>
              <h2>Question4</h2>
              <p>快来问我啊</p>
            </article>
          </section>
        </li>
      </ol><!-- /.swiper-wrapper -->

      <div id="slider-images">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

    </div><!-- /.swiper-container -->

    <ul id="slider-nav">
      <li><a href="">nav1</a></li>
      <li><a href="">nav2</a></li>
      <li><a href="">nav3</a></li>
      <li><a href="">nav4</a></li>
    </ul>

  </div><!-- /#sections-list-container -->



  <section id="download" class="">

    <article>
        <p>THANK YOU</p>
    </article>

    <div id="illustration-02"></div>

  </section>


      </main><!-- /#content -->



      <footer id="footer">
        <h3>Interview Assist</h3>
        <div class="footer-share">
          <h4>Share the Love</h4>

        </div>
      </footer><!-- /#footer -->

    </div><!-- /#wrapper -->

    <script type="text/javascript" src="js/all-e524b70f.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-15793894-49', 'auto');
      ga('send', 'pageview');
    </script>

  

</body></html>